$colorPrimary: rgb(118, 194, 27);
$colorPrimaryLight: rgb(129, 170, 48);
$colorBlack: rgba(0, 0, 0, 0.841);
$colorFontWhite: rgba(255, 255, 255);
$color-light-grey-1 : #f7f7f7;

$color-grey-dark : #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$color-footer: #494949;
$facebook-color: hsl(226,43%,49%);
$twitter-color: hsl(207,86%,57%);
$insta-color: hsl(326,90%,42%);
$linked-color: hsl(218,56%,45%);

$color-red: hsl(0,100%,48%);

$color-dark-gray: rgb(40,54,62);
$section-padding: 5rem 10rem;


$color-primary: #EA3A60;
$color-primary-dark: #f71647;

$color-green : #55c57a;
$color-green-light : #7ed56f;
$color-green-dark : #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-light-grey-1 : #f7f7f7;

$color-grey-dark : #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$logo-color: #02073E;
$max-width: 130rem;

$font-weight-heavy-3: 700;
$font-weight-heavy-2: 600;
$font-weight-heavy-1: 500;

$font-weight-light-3: 500;
$font-weight-heavy-1: 500;
$font-weight-heavy-1: 500;